html
    head
        title Trainee Spy
        link(rel='stylesheet' href='/public/style.css')
    body
        div.hero
            img(src='/public/react-training-banner-clear.png')
        div.page
        script(type='text/javascript' src='/socket.io/socket.io.js')
        script(type='text/javascript' src='/public/script.js')

