html
    head
        title Trainee Spy
    body
        div.hero
            img(src='/public/react-training-banner-clear.png')
        div.page
            div#app
        script(type='text/javascript' src='/public/app.js')

